search_url_g   https://www.google.com/search?q=
middle_click_search_engine g
## Background color to use when executing `toggle_custom_color`
# custom_background_color 0.180 0.204 0.251
custom_background_color 0.10 0.12 0.15
## Text color to use when executing `toggle_custom_color`
# custom_text_color 0.847 0.871 0.914
custom_text_color 0.78 0.80 0.82
